.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth__navigation {
  display: flex;
  justify-content: center;
}

.auth__form {
  width: 400px;

  mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    width: 250px;

    mat-form-field {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
