<div class="auth" *busy="loading">
  <div class="auth__form">
    <div class="auth__navigation">
      <button mat-button routerLink="/auth/login" routerLinkActive="mat-focus-indicator mat-flat-button mat-button-base mat-accent">Sign in</button>
      <button mat-button routerLink="/auth/register" routerLinkActive="mat-focus-indicator mat-flat-button mat-button-base mat-accent">Sign up</button>
    </div>
    <mat-card>
      <form [formGroup]="authFormGroup">
        <mat-form-field appearance="fill"
                        [hideRequiredMarker]="true"
        >
          <mat-label>Login</mat-label>
          <input matInput
                 formControlName="login"
          >
          <mat-error *ngIf="getFormControl('login').errors?.['required']">Field is required</mat-error>
          <mat-error *ngIf="getFormControl('login').errors?.['minlength']">Login must be at least {{ loginMinCharsLength }} characters long</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill"
                        [hideRequiredMarker]="true"
        >
          <mat-label>Password</mat-label>
          <input matInput
                 [type]="hidePassword ? 'password' : 'text'"
                 formControlName="password"
          >
          <button mat-icon-button
                  matSuffix
                  (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="getFormControl('password').errors?.['required']">Field is required</mat-error>
        </mat-form-field>
      </form>
      <button mat-raised-button
              color="primary"
              (click)="submit()"
              [disabled]="this.authFormGroup.status !== 'VALID'"
      >Submit</button>
    </mat-card>
  </div>
</div>
