<div class="vehicle-upsert" *busy="loading$ | async">
  <h1 class="content-block pt-16px mb-16px">{{ pageTitle }}</h1>

  <form [formGroup]="vehicleForm"
        class="vehicle-upsert__form content-block"
  >
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput
             placeholder="Enter vehicle name"
             formControlName="name"
      >
      <mat-error>Name is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput
                formControlName="description"
      ></textarea>
    </mat-form-field>
  </form>

  <footer class="vehicle-upsert__footer">
    <div class="vehicle-upsert__footer-content content-block">
      <button mat-raised-button
              color="basic"
              class="mr-16px"
              routerLink="/content/vehicles"
      >Cancel</button>
      <button mat-raised-button
              color="primary"
              (click)="confirm()"
              [disabled]="vehicleForm.status !== 'VALID'"
      >{{ applyBtnText }}</button>
    </div>
  </footer>
</div>
