@use '@angular/material' as mat;

$primary: map-get(mat.$deep-purple-palette, 500);
$footer-bg: map-get(mat.$grey-palette, 200);

:host.side-bar-footer {
  padding: 20px 16px;
  display: block;
  background-color: $footer-bg;
}
